header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

ul{
    gap: 30px;
    display: flex;
}
ul li{
   font-size: 20px;
}
a{
    text-decoration: none;
}
li:first-child{
    list-style: none;
}
